body {
  font-size: 16px;
  background-color: white;
}

/** HEADER **/
.container{
  margin-left: 0px; 
  margin-right: 0px;
  width: 100%;
}
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
  height: 70px;
}
.navbar-brand h1 { /* Restaurant name */
  color: black;
  //font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  vertical-align: middle;
  padding-bottom: 25px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;
  border: 1px solid black;
}
#nav-list a {
  color: black;
  text-align: center;
  border: 1px solid black;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
  background-color: gray;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
}

/*.icon-bar {
    border: 1px solid red;
}*/

/*.navbar-header button.navbar-toggle:hover{
  border: 1px solid white;
  background-color: gray;
}*/

.icon-bar:hover,
.icon-bar:focus{
  border: 3px solid green;
}

.navbar-header .icon-bar: focus{ border: 1px solid #feeea7; }

#header-nav button:hover,
#header-nav button:focus {
    background-color: #E09B00;
    border: 1px solid white;
}

/* END HEADER */


/* HOME PAGE */

.pageheading h2 { /* Restaurant name */
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 35px;
  line-height: .75;
}

#chicken-tile, #beef-tile, #sushi-tile {
  height: 1000px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  background-color: gray;
}

#chicken-tile div, #beef-tile div, #sushi-tile div {
  font-weight: bold;
  width: 100%;
  text-align: center;
}
#chicken-text p, #beef-text p, #sushi-text p {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
}
/* END HOME PAGE */

@media (max-width: 767px) {
#chicken-tile, #beef-tile, #sushi-tile {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}